/* You can add global styles to this file, and also import other style files */
:root {
    --bg-color: #153776;
    --text-color: #fdfdd7;
    --font-fam: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

nav {
    .container-fluid {
        background: var(--bg-color);
    }
}